@inject IJSRuntime JSRuntime
@inject PrintService PrintService

@page "/print"
@using BiblePlan.Domain;
@using BiblePlan.Services;
@using MudBlazor;

@layout PrintLayout
<PageTitle>Custom Plan: @title</PageTitle>
<h2 class="text-center">@title</h2>

<MudTable Items="@GetTableItems()" Dense="true">
    <HeaderContent>
        @foreach (var day in days)
        {
            <MudTh><div class="fw-bold text-center day-header">@day.ToUpper()</div></MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        @foreach (var item in context)
        {
            <MudTd>
                <div class="cell fw-bold">@item.DateString</div>
                <div class="cell">@item.SelectedReading</div>
            </MudTd>
        }
    </RowTemplate>
</MudTable>